@mixin flex($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:$direction ;
}

@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 600px) {
            @content;
        }
    }

    @else if $breakpoint == tablet {
        @media (min-width: 601px)  and (max-width: 900px) {
            @content;
        }
    }

    @else if $breakpoint == desktop {
        @media (min-width: 901px) {
            @content;
        }
    }

}

// @mixin secResponsive($breakpoint) {
//     @if $breakpoint == mobile {
//         @media (max-width: 600px) {
//             @content;
//         }
//     }

//     @else if $breakpoint == tablet {
//         @media (min-width: 601px)  and (max-width: 900px) {
//             @content;
//         }
//     }

//     @else if $breakpoint == desktop {
//         @media (min-width: 901px) {
//             @content;
//         }
//     }

// }