$primary-color: #3498D8;
$primary-color-dark: #2E6DA3;
$secondary-color: #2CCe71;
$secondary-color-dark: #1A7A5B;
$background-color: #F5F5F5;
$font-stack: Arial, sans-serif;
$text-color:#ffffff;

//////////////////////////
/// 


$border-radius: 100%;
$widthMobile: 20vh;
$heightMobile: 20vh;
$widthTablet: 40vh;
$heightTablet: 40vh;
$widthDesktop: 50vh;
$heightDesktop: 50vh;